<script>
  var penguins;
  var picks = new Map();
  var draftOrder;
  var pickCount = 1;
  var subscribed = false;
  var horses = [];

  $( document ).ready(function() {

    var client = new Faye.Client('/faye')
    client.disable('websocket');

    function getCookieValue(a, b) {
      b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
      return b ? b.pop() : '';
    }


    function generateDraft(draftOrder, pickOrder) 
    {
      $("#selectHorse p:first-of-type").css("color","red");

      _.each(draftOrder, function(player) {
        picks.set(player, {"horse_team": [], "other": []});
        $("input[name=\"" + player + "\"]").keypress(function (e) {
          if (e.which == 13) {
             $("#draft" + player).click();
          }
        });

        if(!subscribed) {
          client.subscribe('/horse_selected', function(message) {          
            console.log(message.player +" picked " + message.horse);
            
            $("#horses_selected #" + message.player + "_horses").append("<p class='indent'>" + message.horse + "</p>");

            horses = _.without(horses, message.horse);
            $("#draft" + message.player).css("display", "none");
            $("input[name=\"" + message.player + "\"]").css("display", "none");
            $("input[name=\"" + message.player + "\"]").val('');
            $("#" + message.player).css("color", "black");
            pickCount += 1;
            nextPlayer = pickOrder[pickCount];
            jQuery.noConflict();
            $("input[name=\"" + nextPlayer + "\"]").autocomplete({
              orientation: "auto",
              minChars: '2',
              lookup: horses,
              onSelect: function() { return; }
            });
            

            var ht_cookie = JSON.parse(unescape(getCookieValue("horsetime")));

            if (ht_cookie.name == nextPlayer) {
              $("#draft" + nextPlayer).css("display", "inline");
              $("input[name=\"" + nextPlayer + "\"]").css("display", "inline");                
            }

            if (message.player == nextPlayer)
            {
              $("#" + nextPlayer).css("color", "green");
            }
            else
            {
              $("#" + nextPlayer).css("color", "red");  
            }
          });
        }
        
        subscribed = true;

        $("#draft" + player).on("click", function(){
          
          currentPlayer = pickOrder[pickCount];

          var selection = $("input[name=\"" + currentPlayer + "\"]").val();
          if (selection == "") { alert("Select a horse bro!"); return; }
          if (!_.contains(horses, selection)) { alert("That's not a horse, bro"); return; }

          var player_horses = picks.get(currentPlayer);

          if (_.contains(penguins.other, selection) && player_horses.other.length == 2)
          {
            alert("You already have the limit for other team bro");
            return;
          }

          if (_.contains(penguins.horse_team, selection) && player_horses.horse_team.length == 2)
          {
            alert("You already have the limit for penguins bro");
            return;
          }

          // Validation pass, add to my picks!

          if(_.contains(penguins.other, selection)) {
            player_horses.other.push(selection);
          }
          else
          {
            player_horses.horse_team.push(selection);
          }

          // UPDATE REDIS NEED TO WRITE THIS
          picks.set(currentPlayer, player_horses);

          client.publish('/horse_selected', {
            player: currentPlayer,
            horse: selection
          });


        });

      });
    }

    function show_draft(pickOrder) {
      randomPlayers = <%= @players.to_json %>;

      _.each(randomPlayers, function(player, id) {

        var player_id = player.replace(/\s/, '');

        $("#selectHorseContainer").append("<p id='" + player_id + "'>" + player );
        $("#horses_selected").append("<div id='" + player_id + "_horses'><h4><u>" + player + "</u></h4></div>");

        $("#selectHorseContainer").append("<input type='text' style=\"display: none\" class=\"form-control\" autocomplete=\"on\" name=\"" + player_id + "\"><button type='submit' style=\"display: none\" class=\"btn btn-default\" id=\"draft" + player_id +  "\" role=\"button\">Draft</button></p>");

          jQuery.noConflict();

          $("input[name=\"" + player_id + "\"]").autocomplete({
            orientation: 'auto',
            minChars: '2',
            lookup: horses,
            onSelect: function() { return; }
          });
        
        var ht_cookie = JSON.parse(unescape(getCookieValue("horsetime")));
       
        if (ht_cookie.name == pickOrder[pickCount] ) {
          $("#draft" + ht_cookie.name).css("display", "inline");
          $("input[name=\"" + ht_cookie.name + "\"]").css("display", "inline");
        }

      });

    }


    $.get("/players.json", function( data ) {
        penguins = data;
        horses = data.horse_team.concat(data.other);
        $("input:checkbox").removeAttr('disabled');
        pickOrder = <%= @pick_order.to_json %>
        show_draft(pickOrder);


        draftOrder = <%= @players.to_json %>
        generateDraft(draftOrder, pickOrder);

    });
    

});
</script>
<div class="row">
<div class="col-md-4" id="selectHorse">
  <h2>Draft Order</h2>
  <div id='selectHorseContainer'>
  </div>
</div>
<div class="col-md-4" id="horses">
  <h2>Horses Selected</h2>
  <div id="horses_selected">
  </div>
</div>

</div>

<hr>